.calendar td {
	padding: 5px;
	border-spacing: 5px;
}

.monthDate {
	font-weight: bold;
	color: white;
	text-align: center;
	background-color: #873e23;
}

.month {
	font-size: 18px;
	letter-spacing: 1px;
}

.days {
	font-weight: bold;
	color: #5c2917;
	text-align: center;
	background-color: yellow;
}

.prayFor {
	font-weight: bold;
	color: #5c2917;
	text-align: center;
	background-color: #c398ba83;
}

.calendar button {
	margin: 0.2rem 0 0.2rem 2.6rem;
	padding: 0.2rem 0.2rem;
	border-radius: 0.75rem;
	background: rgba(31, 82, 201, 0.829);
	font-size: 1rem;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.calendar button:hover {
	transition: 0.3s;
	transform: scale(1.1);
}

.calendar span {
	margin-left: 2.6rem;
	font-size: 18px;
	font-weight: bold;
	color: rgb(31, 34, 201);
}
