* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 45px 15px 15px 45px;

	background: rgba(165, 42, 42, 0.096);
	display: grid;
	gap: 1.5rem;

	grid-auto-rows: min-content;
	grid-template-columns: 1fr 1fr;

	align-items: flex-start;
	align-content: initial;
}

.card {
	padding: 8px;
	background: rgba(22, 77, 197, 0.267);
	border-style: double;

	display: grid;

	grid-template-areas:
		'my_header my_header'
		'my_image1 my_phone1'
		'my_image2 my_phone2';

	grid-template-columns: 1fr 5fr;
	grid-auto-rows: min-content;

	box-shadow: 0px 0px 5px 4px rgba(7, 82, 168, 0.74);

	position: relative;
	align-self: initial;
}

.card .image1 {
	grid-area: my_image1;
}

.card .image2 {
	grid-area: my_image2;
}

.card img {
	width: 95px;
	height: 140px;
	margin: 7px;
}

.card h2 {
	padding-left: 7px;
	grid-area: my_header;
}

.card .phone1 {
	grid-area: my_phone1;

	position: absolute;
	bottom: 7px;
	left: auto;
}

.card .phone2 {
	grid-area: my_phone2;

	position: absolute;
	bottom: 7px;
	left: auto;
}

.card .phone1 h7,
.card .phone2 h7 {
	font-weight: bold;
	font-size: 20px;
	padding: 7px;
}

.card .phone1 p,
.card .phone2 p {
	margin: 0 0 15px 0;
}

.card:hover {
	transition: 0.3s;
	transform: scale(1.015);
}
