* {
	box-sizing: border-box;
}

/*	FOR MOBILE PHONES:
@media(min-width: 468px) {

	put containers here

}
*/

.container {
	flex-basis: auto;
	max-width: 1170px;
	margin: auto;
	padding: 45px 15px 15px 45px;

	background: rgba(165, 42, 42, 0.096);
	display: flex;

	align-items: flex-start;
}

.left .card {
	margin: 24px 12px;
	padding: 8px;
	background: rgba(22, 77, 197, 0.267);
	border-style: double;

	display: grid;

	grid-template-areas:
		'my_header my_header'
		'my_image1 my_phone1'
		'my_image2 my_phone2';

	grid-template-columns: 1fr 5fr;

	box-shadow: 0px 0px 5px 4px rgba(7, 82, 168, 0.74);
}

.right .card {
	margin: 24px 12px;
	padding: 8px;
	background: rgba(22, 77, 197, 0.267);
	border-style: double;

	display: grid;

	grid-template-areas:
		'my_header my_header'
		'my_phone1 my_image1'
		'my_phone2 my_image2';

	grid-template-columns: 5fr 1fr;

	box-shadow: 0px 0px 5px 4px rgba(7, 82, 168, 0.74);
}

.card h2 {
	grid-area: my_header;
	font-size: 22px;
	margin: 5px 0 5px 0px;
	text-align: center;
}

.card .image1 {
	grid-area: my_image1;
}

.card .image2 {
	grid-area: my_image2;
}

.card img {
	width: 90px;
	height: 143px;
	margin: 5px;
}

.card .phone1 {
	grid-area: my_phone1;
}

.card .phone2 {
	grid-area: my_phone2;
}

.card .phone1 span,
.card .phone2 span {
	display: block;
	margin: 13px 5px 0px 5px;
}

.card .phone1 p,
.card .phone2 p {
	margin: 5px 5px;
	font-weight: bold;
	font-size: 20px;
}

.card:hover {
	transition: 0.3s;
	transform: scale(1.015);
}

.left .card .phone1,
.left .card .phone2 {
	text-align: left;
}

.right .card .phone1,
.right .card .phone2 {
	text-align: right;
}
