* {
	box-sizing: border-box;
}

/*	FOR MOBILE PHONES:
@media(min-width: 468px) {

	put containers here

}
*/

.inputDiv {
	font-size: 22px;
	text-align: center;
	font-style: oblique;
	color: #012880;
}

.inputDiv input {
	margin-right: 25px;
	border: 1px solid #3c1fc0;
	border-radius: 0.75rem;
	padding: 0.4rem 1rem 0.45rem 0.4rem;
	cursor: pointer;

	box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.5),
		0 -0.25rem 1.5rem rgb(15, 146, 155) inset,
		0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
		0 0.25rem 0.5rem 0 rgb(113, 149, 155) inset;
}

.inputDiv ::-webkit-file-upload-button {
	background: rgba(22, 75, 195, 0.5);
	border-radius: 0.75rem;
}

.inputDiv button {
	margin-top: 10rem;
	cursor: pointer;
	padding: 0.8rem 1.5rem 1rem 1.5rem;
	border-radius: 0.75rem;
	line-height: 0.5rem;
	font-size: 22px;
	font-weight: 100;
	font-style: oblique;

	border: 1px solid #012880;

	box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.5),
		0 -0.25rem 1.5rem rgb(15, 146, 155) inset,
		0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
		0 0.25rem 0.5rem 0 rgb(113, 149, 155) inset;
}

.inputDiv footer {
	margin-top: 18rem;
	font-weight: bold;
}

.container {
	flex-basis: auto;
	max-width: 1170px;
	margin: auto;
	padding: 0px 15px 15px 45px;

	background: rgba(165, 42, 42, 0.096);
	display: flex;

	align-items: flex-start;
}

.left .card {
	margin: 24px 12px;
	padding: 8px;
	background: rgba(22, 78, 197, 0.103);
	/* border-style: double; */

	display: grid;

	grid-template-areas:
		'my_header my_header'
		'my_image1 my_phone1'
		'my_image2 my_phone2';

	grid-template-columns: 1fr 5fr;

	box-shadow: 0px 0px 5px 4px rgba(7, 82, 168, 0.281);
}

.right .card {
	margin: 24px 12px;
	padding: 8px;
	background: rgba(22, 78, 197, 0.103);
	/* border-style: solid; */

	display: grid;

	grid-template-areas:
		'my_header my_header'
		'my_phone1 my_image1'
		'my_phone2 my_image2';

	grid-template-columns: 5fr 1fr;

	box-shadow: 0px 0px 5px 4px rgba(7, 82, 168, 0.281);
}

.card h2 {
	grid-area: my_header;
	font-size: 22px;
	margin: 5px 0 5px 0px;
	text-align: center;
}

.card .image1 {
	grid-area: my_image1;
}

.card .image2 {
	grid-area: my_image2;
}

.card img {
	width: 90px;
	height: 143px;
	margin: 5px;
	border: solid 2px rgba(0, 0, 0, 0.616);
}

.card .phone1 {
	grid-area: my_phone1;
}

.card .phone2 {
	grid-area: my_phone2;
}

.card .phone1 span,
.card .phone2 span {
	display: block;
	margin: 13px 5px 0px 5px;
}

.card .phone1 p,
.card .phone2 p {
	margin: 5px 5px;
	font-weight: bold;
	font-size: 20px;
}

.card:hover {
	transition: 0.3s;
	transform: scale(1.015);
}

.left .card .phone1,
.left .card .phone2 {
	text-align: left;
}

.right .card .phone1,
.right .card .phone2 {
	text-align: right;
}
